root = true

[*.{kt,kts}]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
ij_kotlin_allow_trailing_comma = true
ktlint_code_style = intellij_idea
ktlint_standard_function-naming = disabled
ktlint_standard_max-line-length = disabled
ktlint_standard_function-signature = disabled
